################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProblemStrategy/.vs/ProblemStrategy/v14
/ProblemStrategy/ProblemStrategy
/ProblemStrategy/ProblemStrategy.VC.db
/ProblemStrategy/ProblemStrategy.VC.VC.opendb
/ProblemStrategy/Debug
/SSAT_17_02/SSAT_17_02.VC.db
/SSAT_17_02/SSAT_17_02.VC.VC.opendb
/SSAT_17_02/SSAT_17_02/SSAT_17_02.vcxproj
/SSAT_17_02/SSAT_17_02/SSAT_17_02.vcxproj.filters
/SSAT_17_02/.vs/SSAT_17_02/v14
/SSAT_17_02/Debug
/SSAT_17_02/SSAT_17_02/Debug
